.cart-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}

.cart-container img {
  border: 2px solid grey;
  height: 100px;
  width: 100px;
  margin: 10px;
}
